.buttonNewGame:hover{
    -fx-background-color: GRAY;
    -fx-border-color: RED;
    -fx-border-width: 0px 0px 0px 5px;
}

.buttonLoadGame:hover{
    -fx-background-color: GRAY;
    -fx-border-color: RED;
    -fx-border-width: 0px 0px 0px 5px;
}

.buttonScore:hover{
    -fx-background-color: GRAY;
    -fx-border-color: RED;
    -fx-border-width: 0px 0px 0px 5px;
}

.buttonCredits:hover{
    -fx-background-color: GRAY;
    -fx-border-color: RED;
    -fx-border-width: 0px 0px 0px 5px;
}

.buttonOptions:hover{
    -fx-background-color: GRAY;
    -fx-border-color: RED;
    -fx-border-width: 0px 0px 0px 5px;
}


.buttonExit:hover{
    -fx-background-color: GRAY;
    -fx-border-color: RED;
    -fx-border-width: 0px 0px 0px 5px;
}

.buttonNewGame {
    -fx-border-radius: 40px;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-color: #EFB810;
    -fx-background-color: #1D1B20;
    -fx-background-radius: 40px;

}

.buttonLoadGame {
    -fx-border-radius: 40px;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-color: #EFB810;
    -fx-background-color: #1D1B20;
    -fx-background-radius: 40px;

}

.buttonScore {
    -fx-border-radius: 40px;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-color: #EFB810;
    -fx-background-color: #1D1B20;
    -fx-background-radius: 40px;
}

.buttonCredits{
    -fx-border-radius: 40px;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-color: #EFB810;
    -fx-background-color: #1D1B20;
    -fx-background-radius: 40px;
}

.buttonOptions{
    -fx-border-radius: 40px;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-color: #EFB810;
    -fx-background-color: #1D1B20;
    -fx-background-radius: 40px;
}

.buttonExit{
    -fx-border-radius: 40px;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-color: #EFB810;
    -fx-background-color: #1D1B20;
    -fx-background-radius: 40px;
}
