.buttonNewGame:hover{
    -fx-background-color: GRAY;
    -fx-border-color: RED;
    -fx-border-width: 0px 0px 0px 5px;
}

.buttonLoadGame:hover{
    -fx-background-color: GRAY;
    -fx-border-color: RED;
    -fx-border-width: 0px 0px 0px 5px;
}

.buttonScore:hover{
    -fx-background-color: GRAY;
    -fx-border-color: RED;
    -fx-border-width: 0px 0px 0px 5px;
}

.buttonCredits:hover{
    -fx-background-color: GRAY;
    -fx-border-color: RED;
    -fx-border-width: 0px 0px 0px 5px;
}

.buttonOptions:hover{
    -fx-background-color: GRAY;
    -fx-border-color: RED;
    -fx-border-width: 0px 0px 0px 5px;
}


.buttonExit:hover{
    -fx-background-color: GRAY;
    -fx-border-color: RED;
    -fx-border-width: 0px 0px 0px 5px;
}

.buttonToBackOptions:hover{
    -fx-background-color: GRAY;
    -fx-border-color: RED;
    -fx-border-width: 0px 0px 0px 5px;
}

.buttonToBackCredits:hover{
    -fx-background-color: GRAY;
    -fx-border-color: RED;
    -fx-border-width: 0px 0px 0px 5px;
}

.buttonToBackNewGame:hover{
    -fx-background-color: GRAY;
    -fx-border-color: RED;
    -fx-border-width: 0px 0px 0px 5px;
}

.buttonAdventureNewGame:hover{
    -fx-background-color: GRAY;
    -fx-border-color: RED;
    -fx-border-width: 0px 0px 0px 5px;
}

.buttonTournamentNewGame:hover{
    -fx-background-color: GRAY;
    -fx-border-color: RED;
    -fx-border-width: 0px 0px 0px 5px;
}

.buttonToBackScore:hover{
    -fx-background-color: GRAY;
    -fx-border-color: RED;
    -fx-border-width: 0px 0px 0px 5px;
}


.buttonNewGame {
    -fx-border-radius: 40px;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-color: #EFB810;
    -fx-background-color: #1D1B20;
    -fx-background-radius: 40px;

}

.buttonLoadGame {
    -fx-border-radius: 40px;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-color: #EFB810;
    -fx-background-color: #1D1B20;
    -fx-background-radius: 40px;

}

.buttonScore {
    -fx-border-radius: 40px;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-color: #EFB810;
    -fx-background-color: #1D1B20;
    -fx-background-radius: 40px;
}

.buttonCredits{
    -fx-border-radius: 40px;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-color: #EFB810;
    -fx-background-color: #1D1B20;
    -fx-background-radius: 40px;
}

.buttonOptions{
    -fx-border-radius: 40px;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-color: #EFB810;
    -fx-background-color: #1D1B20;
    -fx-background-radius: 40px;
}

.buttonExit{
    -fx-border-radius: 40px;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-color: #EFB810;
    -fx-background-color: #1D1B20;
    -fx-background-radius: 40px;
}

.buttonToBackCredits{
    -fx-border-radius: 40px;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-color: #EFB810;
    -fx-background-color: #1D1B20;
    -fx-background-radius: 40px;
}

.buttonToBackOptions{
    -fx-border-radius: 40px;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-color: #EFB810;
    -fx-background-color: #1D1B20;
    -fx-background-radius: 40px;
}

.buttonToBackNewGame{
    -fx-border-radius: 40px;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-color: #EFB810;
    -fx-background-color: #1D1B20;
    -fx-background-radius: 40px;
}

.buttonAdventureNewGame{
    -fx-border-radius: 40px;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-color: #EFB810;
    -fx-background-color: #1D1B20;
    -fx-background-radius: 40px;
}

.buttonTournamentNewGame{
    -fx-border-radius: 40px;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-color: #EFB810;
    -fx-background-color: #1D1B20;
    -fx-background-radius: 40px;
}

.buttonToBackScore{
    -fx-border-radius: 40px;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-color: #EFB810;
    -fx-background-color: #1D1B20;
    -fx-background-radius: 40px;
}

.tvScore{
    -fx-background-color: transparent;

}
.buttonLoadMyGame{
    -fx-border-radius: 40px;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-color: #EFB810;
    -fx-background-color: #1D1B20;
    -fx-background-radius: 40px;
}


/*.pane {
    -fx-background-color: RED;
    -fx-background-image: url('/src/img/villages/viilage1.png');

}*/

